@CHARSET "UTF-8";
.ip_main{
	width: 97.6%;
    background-color: white;
    margin:30px 20px 30px 20px;
	padding: 20px;
}
.ip_main .title{
	text-align: center;
	margin-bottom:30px;
}
.ip_main .content{
	border: 1px solid #e2e2e7;
	margin-bottom:30px;
}
.ip_main .content table{
	width: 100%;
	color: #a0a0a0;
}
.ip_main .content table td{
	padding:10px;
}
.ip_main .content table .textright{
	text-align: right;
	width: 40%;
}
.ip_main .content table td input,
.ip_main .content table td select{
    color: black;
	width: 250px;
    height: 30px;
}

.ip_main .foot{
	width: 100%;
	font-size: 16px;
	margin-bottom: 50px;
	text-align: right;
}
.ip_main .foot .ip_save{
	background-color: #337ab7;
    color: white;
    border-color: #337ab7;
    border-radius: 5px 5px 5px 5px;
    height: 40px;
    font-size: 16px;
    /* width: 500px; */
}